body{
    background: url("https://media.licdn.com/dms/image/C561BAQEcPi4WTGpL8Q/company-background_10000/0?e=2159024400&v=beta&t=bSUdLW0kBBALsqHpQqXjFueWQClqPw2M3nibf_TrsiA");
}

label{
    color: white;
}

h3{
    color: white;
}
td{
    max-width: 200px;
    word-wrap: break-word;
}